body{
    font-family: sans-serif;
    background-color: aliceblue;
}

.back, a{
    margin-top: 5px;
    background-color: rgb(115, 0, 255);
    color: white;
    text-decoration: none;
    width: 70px;
    height: 40px;
    border: transparent;
    border-radius: 5px;
}